<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Goods" >
    <id column="goodsId" property="goodsid" jdbcType="INTEGER" />
    <result column="goodsName" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsPrice" property="goodsprice" jdbcType="REAL" />
    <result column="startDate" property="startdate" jdbcType="TIMESTAMP" />
    <result column="endDate" property="enddate" jdbcType="TIMESTAMP" />
    <result column="statrc" property="statrc" jdbcType="INTEGER" />
    <result column="depict" property="depict" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.demo.pojo.Goods" extends="BaseResultMap" >
    <result column="goodsImg" property="goodsimg" jdbcType="LONGVARBINARY" />
  </resultMap>
  

 <select id="queryAll" resultMap="BaseResultMap">
 SELECT * FROM `goods`
WHERE  `startDate` &lt;= NOW() AND `endDate` &gt;= NOW() OR `startDate` &gt;= NOW() AND `endDate` &gt;= NOW()
 </select>
 
 
 
 
    <resultMap id="map1" type="com.example.demo.vo.goods_vo" >
    <id column="goodsId" property="goodsid" jdbcType="INTEGER" />
    <result column="goodsName" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsPrice" property="goodsprice" jdbcType="REAL" />
    <result column="startDate" property="startdate" jdbcType="TIMESTAMP" />
    <result column="endDate" property="enddate" jdbcType="TIMESTAMP" />
    <result column="statrc" property="statrc" jdbcType="INTEGER" />
    <result column="depict" property="depict" jdbcType="VARCHAR" />
    <result column="name" property="username" jdbcType="VARCHAR" />
     <result column="priceOk" property="priceOk"  />
    
     <collection property="list" column="goodsId" select="getByGoodsIdList"/>
  </resultMap>
  
   <resultMap id="map2" type="com.example.demo.vo.goodsDetailed_vo" >
    <result column="dDate" property="dDate"  />
    <result column="dPrice" property="dPrice" />
    <result column="userName" property="userName"  />
  </resultMap>
 <select id="getByGoodsIdList" resultType="com.example.demo.vo.goodsDetailed_vo">
 SELECT gd.`dDate`,gd.`dPrice`,u.`userName` FROM `goodsdetailed` gd
INNER JOIN `goods` g ON(gd.`goodsId`=g.`goodsId`)
INNER JOIN `user` u ON(u.`userId`=gd.`userId`)
WHERE gd.`goodsId`=#{0}
 ORDER BY gd.`dDate` DESC
 </select>
 <select id="queryStartAndEndDate"  resultMap="map1">
 SELECT * FROM `goods`
WHERE NOW() BETWEEN `startDate` AND `endDate`
 </select>
 
 
 <select id="queryNoStartAndEndDate" resultMap="map1">
  
   SELECT g.*,(
 SELECT u.`userName` FROM `goodsdetailed` gd
INNER JOIN `user` u ON(u.`userId`=gd.`userId`)
WHERE gd.`goodsId`=g.`goodsId`
ORDER BY gd.`dDate` DESC
LIMIT 0,1
 
 ) AS `name`,
 (
 SELECT gd.dPrice FROM `goodsdetailed` gd
WHERE gd.`goodsId`=g.`goodsId`
ORDER BY gd.`dDate` DESC
LIMIT 0,1
 
 ) AS priceOk 
  FROM `goods` g
WHERE  NOW() >g.`endDate`
  
 </select>
</mapper>