<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.GoodsdetailedMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Goodsdetailed" >
    <id column="dId" property="did" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="goodsId" property="goodsid" jdbcType="INTEGER" />
    <result column="dPrice" property="dprice" jdbcType="REAL" />
    <result column="dDate" property="ddate" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="map1" type="com.example.demo.vo.goodsDetailed_vo" >
    <result column="dDate" property="dDate"  />
    <result column="dPrice" property="dPrice" />
    <result column="userName" property="userName"  />
  </resultMap>
<select id="queryCount" resultMap="map1">
SELECT gd.`dDate`,gd.`dPrice`,u.`userName` FROM `goodsdetailed` gd
INNER JOIN `goods` g ON(gd.`goodsId`=g.`goodsId`)
INNER JOIN `user` u ON(u.`userId`=gd.`userId`)
WHERE gd.`goodsId`=#{id}
 ORDER BY gd.`dDate` DESC
</select>
</mapper>