<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Goods" >
    <id column="goodsId" property="goodsid" jdbcType="INTEGER" />
    <result column="goodsName" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsPrice" property="goodsprice" jdbcType="REAL" />
    <result column="startDate" property="startdate" jdbcType="TIMESTAMP" />
    <result column="endDate" property="enddate" jdbcType="TIMESTAMP" />
    <result column="statrc" property="statrc" jdbcType="INTEGER" />
    <result column="depict" property="depict" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.demo.pojo.Goods" extends="BaseResultMap" >
    <result column="goodsImg" property="goodsimg" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    goodsId, goodsName, goodsPrice, startDate, endDate, statrc, depict
  </sql>
  <sql id="Blob_Column_List" >
    goodsImg
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    where goodsId = #{goodsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where goodsId = #{goodsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Goods" >
    insert into goods (goodsId, goodsName, goodsPrice, 
      startDate, endDate, statrc, 
      depict, goodsImg)
    values (#{goodsid,jdbcType=INTEGER}, #{goodsname,jdbcType=VARCHAR}, #{goodsprice,jdbcType=REAL}, 
      #{startdate,jdbcType=TIMESTAMP}, #{enddate,jdbcType=TIMESTAMP}, #{statrc,jdbcType=INTEGER}, 
      #{depict,jdbcType=VARCHAR}, #{goodsimg,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsid != null" >
        goodsId,
      </if>
      <if test="goodsname != null" >
        goodsName,
      </if>
      <if test="goodsprice != null" >
        goodsPrice,
      </if>
      <if test="startdate != null" >
        startDate,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="statrc != null" >
        statrc,
      </if>
      <if test="depict != null" >
        depict,
      </if>
      <if test="goodsimg != null" >
        goodsImg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsid != null" >
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsprice != null" >
        #{goodsprice,jdbcType=REAL},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="statrc != null" >
        #{statrc,jdbcType=INTEGER},
      </if>
      <if test="depict != null" >
        #{depict,jdbcType=VARCHAR},
      </if>
      <if test="goodsimg != null" >
        #{goodsimg,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Goods" >
    update goods
    <set >
      <if test="goodsname != null" >
        goodsName = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsprice != null" >
        goodsPrice = #{goodsprice,jdbcType=REAL},
      </if>
      <if test="startdate != null" >
        startDate = #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="statrc != null" >
        statrc = #{statrc,jdbcType=INTEGER},
      </if>
      <if test="depict != null" >
        depict = #{depict,jdbcType=VARCHAR},
      </if>
      <if test="goodsimg != null" >
        goodsImg = #{goodsimg,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where goodsId = #{goodsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.demo.pojo.Goods" >
    update goods
    set goodsName = #{goodsname,jdbcType=VARCHAR},
      goodsPrice = #{goodsprice,jdbcType=REAL},
      startDate = #{startdate,jdbcType=TIMESTAMP},
      endDate = #{enddate,jdbcType=TIMESTAMP},
      statrc = #{statrc,jdbcType=INTEGER},
      depict = #{depict,jdbcType=VARCHAR},
      goodsImg = #{goodsimg,jdbcType=LONGVARBINARY}
    where goodsId = #{goodsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Goods" >
    update goods
    set goodsName = #{goodsname,jdbcType=VARCHAR},
      goodsPrice = #{goodsprice,jdbcType=REAL},
      startDate = #{startdate,jdbcType=TIMESTAMP},
      endDate = #{enddate,jdbcType=TIMESTAMP},
      statrc = #{statrc,jdbcType=INTEGER},
      depict = #{depict,jdbcType=VARCHAR}
    where goodsId = #{goodsid,jdbcType=INTEGER}
  </update>
</mapper>